# Server Port
PORT=5001

# Firebase Service Account Credentials
FIREBASE_PROJECT_ID=tonmai-web
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@tonmai-web.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
